body {
  padding-top: 5.5rem;
  padding-bottom: 6rem;
  min-height: 100vh;
  margin: 0;
  background-color: /*#161418;*/  #141414;
  color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nft {
  max-width: 350px;
  margin: 3rem 3rem;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(0deg, #282c34 0%, rgba(17, 0, 32, 0.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
}

.nft-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px; /* Adjust max-width as needed */
  margin: 0 auto;
}

@media (min-width: 900px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nft {
    width: calc(33.33% - 20px); /* Three cards per row on larger screens */
  }
}

@media (max-width: 767px) {
  .nft {
    width: calc(100% - 20px); /* Ensures full width minus margins for better responsiveness */
    max-width: 350px;
    margin: 3rem 10px; /* Adjusted margin for better spacing */
    border: 1px solid #ffffff22;
    background-color: #282c34;
    background: linear-gradient(0deg, #282c34 0%, rgba(17, 0, 32, 0.5) 100%);
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s all;
  }
}

.nft hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #88888855;
  margin-top: 0;
}
.nft ins {
  text-decoration: none;
}
.nft .main {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem;
}
.nft .main .tokenImage {
  border-radius: 0.5rem;
  max-width: 100%;
  height:auto;
  object-fit: cover;
}
.nft .main .description {
  margin: 0.5rem 0;
  color: #a89ec9;
}
.nft .main .tokenInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nft .main .tokenInfo .price {
  display: flex;
  align-items: center;
  color: #ffffff;  /*price color*/
  font-weight: 700;
  font-size:21px;
  /* text-shadow: 0 0 3px #00ffff45, 0 0 10px #00ffff45, 0 0 20px #00ffff45, 0 0 30px #00ffff45, 0 0 40px #00ffff45; */
}

.nft .main .tokenInfo .price ins {
  margin-left: -0.3rem;
  margin-right: 0.5rem;
}
.nft .main .tokenInfo .duration {
  display: flex;
  align-items: center;
  color: #a89ec9;
  margin-right: 0.2rem;
}
.nft .main .tokenInfo .duration ins {
  margin: 0.5rem;
  margin-bottom: 0.4rem;
}
.nft .main .creator {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: -0.3rem;
}
.nft .main .creator ins {
  color: #a89ec9;
  text-decoration: none;
}
.nft .main .creator .wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff22;
  padding: 0.3rem;
  margin: 0;
  margin-right: 0.5rem;
  border-radius: 100%;
  box-shadow: inset 0 0 0 4px #000000aa;
}
.nft .main .creator .wrapper img {
  border-radius: 100%;
  border: 1px solid #ffffff22;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  margin: 0;
}
.nft ::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px #ffffff08;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: 0.7s all;
}
.nft:hover {
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #000000aa;
  transform: scale(1.015);
  filter: brightness(1.3);
}
.nft:hover ::before {
  filter: brightness(0.5);
  top: -100%;
  left: 200%;
}

@media (max-width: 767px) {
  .nft:hover {
    border: 1px solid #ffffff22;
    box-shadow: 0 7px 20px 5px #00000088;
    transform: none;
    filter: none;
  }
  .nft:hover ::before {
    display: none;
  }
}

.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg h1 {
  font-size: 20rem;
  filter: opacity(0.5);
}
